# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

*.status
*.status.0
*.state
*.state.0
/xestate/*
/deploy/
/events/
/sinks/*
*.log
# *.json
*.pprof
*.prof
*.xml
*.lock
/.vscode

/cmd/sendproxy

run1.toml
runall.toml
runlogzio.toml
/xewriter.toml
/sqlxewriter.toml
/sqlxewriter_sources.toml

# exclude linux builds
sqlxewriterx
sqlxewriterx.toml
sqlxewriterx_sources.toml

# goreleaser
README.html
/dist

bld.cmd
run.sh

architecture.md
/sink/logstash_v2.md
/sink/logstash_v3.md
/sink/logstash_v4.md
/sink/logstash_workers.md






